Eraroj en segmentajxo jun kiu ni bezonas korekte labori, variantoj de forerarigo kaj kion fari por ilin ne aperu entute.

1)Eraroj de sent splitilo -- Kiam la frazoj estis splitita en malkorekta loko
2)Eraroj de tokenizilo -- kial la tokinilo ne bone disigis la tokenoj
3)Eraroj de vermanko -- kiel ne estas proponita la vera varianto
4)Eraroj de multsenceco -- estas n\pli ol varianto por iu tokeno (ne estas eraroj efektive), estas malformalajxoj

Rimedoj:
1)splitilo/unuigilo de frazoj || pli bona splitaro
2)splitilo/kopilo/deletilo de tokenoj || pli bona tokenilo
3)aldonilo de vero
4)deletilo de la malvero

interese estas, ke ni volas minimigi la tri unuaj problemojn (cxar ili povas esti trovita nur home) -- estas pli bone montri malveron, ol ne montri la veron. kaj cxar tiuj problemojn ne sxangxas ka strukturon de konll kaj ne bezonigas nin pensi.

Checklisto:
1)Ctrl-S: save con
2)Ctrl-L: load con
3)x: delete value	+
4)X: delete token	smart + (kun -1 la postaj tokenoj) aux ne smart +
5)p: duplicate token (smart + /ne smart + ) 
5+)P: paste kie vi volas;
6)J:unuigi sentoj	+
7)K:disigi sentoj	+
8)Eltondi - -alglui la sentojn kiel vi volas.
9)i:increase la ids de sento
10)o: decrease la ids de sento
11)u: undone(?)